@page "/"

<h1>Hello, world!</h1>
<p>
    In this app you will be able to add or remove or update a new developer
</p>

<img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="my developer" />